/* * {
    border: 0.1px solid black;
} */

/* #container {
} */

/* body {
    background-image: url("images/cosmic\ cliffs.jpg");
    background-size: cover;
} */

#container {
    max-width: 960px;
    margin: auto;
    border: 1px solid black;
}

#game-box { /* Investigate so that the box background cannot chagne class*/
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    /* border: 1px solid black; */
    width: 448px;
    height: 447px;
    margin: auto;
}

.grid-box {
    display: grid;
    place-items: center;
    /* background-color: rgb(191, 33, 33); */
    border: 3px solid rgba(123, 134, 254, 0.754);
}

.x {
    background-image: url('images/X.jpg');
    background-size: cover;
}

.o {
    background-image: url('images/O.jpg');
    background-size: cover;
}

nav {
    height: 100px;
}

header {
    height: 100px;
    position: relative;
}

header p {
    position: absolute;
    left: 50%;
    top: -20%;
}

header input {
    position: absolute;
    left: 45.5%;
    top: 39%;
    padding: 11px;
    border-radius: 28px;
}

.chooseX-O {
    position: relative;
    top: 25%;
    left: 39%;
    padding: 11px;
    margin: 6px;
    border-radius: 28px;
}

