@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* * {
    border: 0.1px solid black;
} */

/* #container {
} */

body {
    background-image: url("images/megacity1.jpg");
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

body button {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
}


#container {
    max-width: 960px;
    margin: auto;
    border: 1px solid black;
}

#game-box { /* Investigate so that the box background cannot chagne class*/
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    /* border: 1px solid black; */
    width: 448px;
    height: 447px;
    margin: auto;
}

.grid-box {
    display: grid;
    place-items: center;
    /* background-color: rgb(191, 33, 33); */
    border: 3px solid rgba(123, 134, 254, 0.754);
}

.x {
    background-image: url('images/X.jpg');
    background-size: cover;
}

.o {
    background-image: url('images/O.jpg');
    background-size: cover;
}

nav {
    height: 100px;
}

header {
    height: 100px;
    position: relative;
}

header p {
    position: absolute;
    left: 50%;
    top: -20%;
}

nav button {
    top: -15%;
    left: 28%;
    margin: 6px;
}

header button {
    top: 45%;
    left: 40%;
}


























/* Button design from https://getcssscan.com/css-buttons-examples by CSS Scan*/
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}