/* * {
    border: 0.1px solid black;
} */

/* #container {
} */

body {
    
    background-color: rgb(157, 157, 164);
    
}

#container {
    max-width: 960px;
    /* height: 950px; */
    margin: auto;
    border: 1px solid black;
}

#game-box {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    border: 1px solid black;
    justify-content: center;
    
}

.grid-box {
    display: grid;
    place-items: center;
    background-color: rgb(191, 33, 33);
    border: 2px solid black;
}

.x {
    background-image: url('images/X.jpg');
    background-size: contain;
}

.o {
    background-image: url('images/O.jpg');
    background-size: cover;
}

/* nav {
    
} */

.chooseX-O {
    position: relative;
    top: 50%;
    left: 38.5%;
    padding: 11px;
    margin: 6px;
    border-radius: 28px;
}

